@use "../../globalStyle.scss";
@use "../../variables.scss";

.price {
    font-weight: 700;
    
    h3 {
        font-family: variables.$ff-RobotoCondensed;
        font-size: 18px;
        line-height: 18px;
    }
    
    span {
        font-size: 24px;
        font-family: variables.$ff-Raleway;
    }
}

.price.small {
    width: 52px;
    height: 26px;
    color: variables.$clr-primary;
    flex: none;
    flex-grow: 0;
    
    span {
        font-family: variables.$ff-Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
    }
    
}