@use "../../globalStyle.scss";
@use "../../variables.scss";

.app {
    position: relative;
    width: 1440px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}