@use "../../globalStyle.scss";
@use '../../variables.scss';

.mini-cart-element-details {
    width: 136px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    gap: 4px;
    flex: none;

    & > :nth-child(2) {
        margin-bottom: 4px;
    }
}